# don't save anything in ~/.config
config/*

# except these directories
!config/fish

!config/i3
!config/i3status
!config/picom.conf

!config/youtube-dl
!config/mpv

!config/nvim
!config/doom

# and these files
!config/ripgrep.conf
