# don't save anything in ~/.config
config/*

# except these directories
!config/fish
config/fish/fish_variables

!config/i3
!config/i3status
!config/picom.conf

!config/youtube-dl
!config/mpv

!config/nvim
!config/doom
config/doom/custom.el

!config/fd/*

# and these files
!config/ripgrep.conf

# VS Code config directory contains a bunch of noise, we just want
# config/Code/User/settings.json
# TODO: this can't be necessary
!config/Code
config/Code/*
!config/Code/User
config/Code/User/*
!config/Code/User/settings.json
